<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8 " />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ site.url }}/css/main.css">
<link rel="stylesheet" href="{{ site.url }}/css/syntax.css">
</head>
<body>
  <div class="nav">
    <div class="nav-content">
    <div class="nav-left">
      <img src="{{ site.url }}/img/logo.png" alt="logo" class="logo" />
      <span>Rootlink</span>
      <input type="text" placeholder="搜索" />
    </div>
    <div class="nav-right">
      <div class="nav-l">
        <ul>
          <li><a href="http://118.89.28.157">首页</a></li>
          <li><a href="http://118.89.28.157/blog">动态</a></li>
          <li class="active"><a href="#">文档中心</a></li>
        </ul>
      </div>
    <div class="nav-r">
      <ul>
        <li style="width:40px"><a href="http://118.89.28.157/login">登录</a></li>
        <li style="width:40px"><a href="http://118.89.28.157/register">注册</a></li>
      </ul>
    </div>
    </div>
    </div>
  </div>
  <div class="con">
    <div class="nav-down">
      <ul>
        <li><a href="{{ site.url }}/SDK/quickstart/register.html">注册</a></li>
        <li><a href="{{ site.url }}/SDK/quickstart/upload.html">第一个实例</a></li>
      </ul>
    </div>
    <div class="article">
      {{ content }}
    </div>
  </div>
</body>

</html>
